$color:#eee;
body{
    background-color: $color;
    user-select: none;   //禁用文字选中
}
img{
    //禁止拖动图片
    -webkit-user-drag: none;
}

.demo-logo-vertical{
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,0.3)
}